:root {
    --primary-font: 'Seymour One', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
    --main-text-color: #000000;
    --main-bg-color: #84A178;
    --accent-color: #F8D24E;
    --button-hover-color: #0A8817;
    --button-dasibled-color: #ABABAB;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}