:root {
  --primary-font: 'Seymour One', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --body-font-size: 12px;
  --main-text-color: #131313;
  --secondary-text-color: #fcfcfc;
  --main-bg-color: #84a178;
  --accent-color: #f8d24e;
  --button-hover-color: #0a8817;
  --button-dasibled-color: #ababab;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
