.outline-button__products {
    @extend %button;
    padding: 12px 34px;
    color: var(--main-text-color);    
    background-color: transparent;
    border: 2px solid var(--accent-color);
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);

    &:hover {
        border: 2px solid var(--button-hover-color);
    }

    &:focus {
        border: 2px solid var(--button-hover-color);
        color: var(--secondary-text-color);
    }

    &:disabled {
        border: 2px solid var(--button-dasibled-color);
    }

    @media screen and (max-width: 1199px) {
        padding: 9px 13px;
        border-radius: 8px;
        @include font-style (600, 8px, 10px);
        z-index: 2;

        &:hover {
            border: 2px solid var(--button-hover-color);
        }

        &:focus {
            border: 2px solid var(--button-hover-color);
            color: var(--secondary-text-color);
        }
    }
}

.outline-button__franchise {
    @extend %button;
    padding: 12px 46px;
    border: 2px solid var(--accent-color);
    color: var(--main-text-color);
    background-color: transparent;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    
    &:hover {
        border: 2px solid var(--button-hover-color);
    }
    
    &:focus {
        border: 2px solid var(--button-hover-color);
        color: var(--secondary-text-color);
    }

    &:disabled {
        border: 2px solid var(--button-dasibled-color);
    }    
}

// код для вставки svg class="solid-button__icon"
// <svg class="solid-button__icon"width="7" height="10"><use href="./images/svg/ic-sprite.svg#vector"></use></svg>
