.outline-button__products {
    @extend %button;
    @include centered-flex();
    height: 42px;
    width: 134px;
    border: 2px solid var(--accent-color);        
    background-color: transparent;

    &:hover, &:focus {
        @include font-style (700, 15px, 18px);
        border: 2px solid var(--button-hover-color);
    }

    &:disabled {
        border: 2px solid var(--button-dasibled-color);
    }

    @media screen and (max-width: 768px) {
        height: 24px;
        width: 62px;
        border-radius: 8px;
        @include font-style (600, 8px, 10px);

        &:hover, &:focus {
            @include font-style (700, 9px, 11px);
            border: 2px solid var(--button-hover-color);
        }
    }
}

.outline-button__franchise {
    @extend %button;
    @include centered-flex();
    height: 42px;
    width: 196px;
    border: 2px solid var(--accent-color);
    color: #FCFCFC;
    background-color: transparent;
    
    &:hover, &:focus {
        @include font-style (700, 15px, 18px);
        border: 2px solid var(--button-hover-color);
    }

    &:disabled {
        border: 2px solid var(--button-dasibled-color);
    }    
}
