.solid-button__buy-now {
  @extend %button;
  @include centered-flex();
  height: 42px;
  width: 152px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }

  &--display-none {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.solid-button__read-more {
  @extend %button;
  @include centered-flex();
  height: 42px;
  width: 164px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
      background-color: var(--button-hover-color);
    }
  
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }
}

.solid-button__our-location {
  @extend %button;
  @include centered-flex();
  height: 42px;
  width: 196px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    background-color: var(--button-hover-color);
  }
  
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }
}

.solid-button__icon {
  margin-left: 10px;
  fill: currentColor;
}


// код для вставки svg class="solid-button__icon"
// <svg class="solid-button__icon"width="7" height="10"><use href="./images/svg/ic-sprite.svg#vector"></use></svg>