.solid-button__buy-now {
  @extend %button;
  padding: 12px 34px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }

  &--display-none {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &--centered {
    margin-left: auto;
    margin-right: auto;
  }
}

.solid-button__read-more {
  @extend %button;
  padding: 12px 34px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
      background-color: var(--button-hover-color);
    }
  
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }
}

.solid-button__our-location {
  @extend %button;
  padding: 12px 34px;
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    background-color: var(--button-hover-color);
  }
  
  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }
}

.solid-button__modal {
  @extend %button;  
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 34px;
  color: #000000;
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &:hover {
    background-color: var(--button-hover-color);
  }

  &:focus {
    color: var(--secondary-text-color);
    background-color: var(--button-hover-color);
  }

  &:disabled {
    background-color: var(--button-dasibled-color);
  }

  @media screen and (max-width: 767px) {
    @include font-style (600, 12, 15);
    padding: 7px 37px;
    height: 32px;
  }
}

.solid-button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.scroll-up-btn {
  @include centered-flex();
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 30px;
  right: 30px;
  background-color: var(--accent-color);
  border-radius: 10px;
  opacity: .6;
  color: black;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
  box-shadow: 1px 49px 41px -25px rgba(0, 0, 0, 0.51);
  z-index: 9;

  &:hover, &:focus {
    opacity: 1;
    scale: 1.25;
    }
  
  &__icon {
    fill: var(--button-hover-color);
  }
}


// код для вставки svg class="solid-button__icon"
// <svg class="solid-button__icon"width="7" height="10"><use href="./images/svg/ic-sprite.svg#vector"></use></svg>