<section class="section">
  <div class="container">
    <ul class="about__list">
      <li class="about__item">
        <p class="about__label">tradition and love</p>
        <h2 class="about__title">how it<span>&#39;</span>s made?</h2>
      </li>
      <li class="about__item">
        <div class="about__wrapper">
          <img class="about-img"
          srcset="#"
          src="#"
          alt="cow in the grassland"
          width="490"
          height="490"/>
        </div>
      </li>
      <li class="about__item">
        <p class="about__text">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and
        we follow it when creating our handmade desserts.</p>
        <p class="about__text">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children
        from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
        <p class="about__text">This is enough to choose ice cream and coffee for any mood!</p>
      </li>
    </ul>
    <button class="about__btn" type="button">Read more</button>
</div>
</section>
