<section class="section">
  <div class="container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages_item icon-cow">
        <p class="advantages_number">721</p>
        <p class="advantages_text">
          Aliquam ac dui vel  dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item icon-weight">
        <p class="advantages_number">16kg</p>
        <p class="advantages_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item ice-cream">
        <p class="advantages_number">84</p>
        <p class="advantages_text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
