<section class="section advantages section--dark-theme" id="About_us">
  <div class="container">
    <h2 class="advantages-title visually-hidden">Advantages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item icon-cow">
        <p class="advantages-list__number">721</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item icon-weight">
        <p class="advantages-list__number">16kg</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item ice-cream">
        <p class="advantages-list__number">84</p>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
