<div class="backdrop backdrop--hidden" data-buynow-modal>
  <div class="modal modal--long">
    <button class="modal__close-btn" type="button" data-buynow-modal-close>
      <svg width="11" height="11">
        <use href="./images/svg/ic-sprite.svg#close"></use>
      </svg>
    </button>
    <h3 class="modal__title modal__title--padding-bottom">Buy now</h3>
    <ul class="modal-buynow__list">
      <li class="modal-buynow__item">
        <a class="modal-buynow__link" href="#name1">
          <div class="modal-buynow__item-wrapper modal-buynow__item-wrapper--1">
            <h4 class="modal-buynow__title modal-buynow__image1">ice cream</h4>
          </div>
        </a>
      </li>
      <li class="modal-buynow__item">
        <a class="modal-buynow__link" href="#name1">
          <div class="modal-buynow__item-wrapper modal-buynow__item-wrapper--2">
            <h4 class="modal-buynow__title modal-buynow__image2">ice coffee</h4>
          </div>
        </a>
      </li>
      <li class="modal-buynow__item">
        <a class="modal-buynow__link" href="#name1">
          <div class="modal-buynow__item-wrapper modal-buynow__item-wrapper--3">
            <h4 class="modal-buynow__title modal-buynow__image3">milkshakes</h4>
          </div>
        </a>
      </li>
    </ul>
    <form class="modal__form">
      <label class="modal__label" for="name1"></label>
      <input
        class="modal__input"
        type="text"
        name="name1"
        id="name1"
        placeholder="Name"
        autofocus
      />
      <label class="modal__label" for="phone1"></label>
      <input
        class="modal__input"
        type="tel"
        name="phone1"
        id="phone1"
        placeholder="Phone"
      />
      <label class="modal__label" for="comment1"></label>
      <textarea
        class="modal__input modal__input--comment"
        name="comment1"
        id="comment1"
        placeholder="Comment"
      ></textarea>
      <button class="solid-button__modal" type="submit">Submit</button>
    </form>
  </div>
</div>
