<footer class="footer">
  <div class="footer-container container">
    <div class="footer-wrapper">
      <div class="footer__thumb-left">
        <p class="footer__text">homemade ice cream made</p>
        <p class="footer__title-text">with passion</p>
      </div>
      <div class="footer__thumb-right">
        <ul class="footer__list-social">
          <li class="footer__social">
            <a class="footer__social-link" href="https://github.com/"  target="_blank" rel="noopener noreferrer" aria-label="github">
            <svg class="social__icon" width="19" height="19"> 
              <use href="./images/svg/ic-sprite.svg#github"></use>
            </svg>
          </a>
        </li>
          <li class="footer__social">
            <a class="footer__social-link" href="https://web.telegram.org/k/" target="_blank" rel="noopener noreferrer" aria-label="telegram">
            <svg class="social__icon" width="19" height="19">
              <use href="./images/svg/ic-sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
          <li class="footer__social">
            <a class="footer__social-link" href="https://m.facebook.com/" target="_blank" rel="noopenerr noreferrer" aria-label="facebook">
            <svg class="social__icon" width="19" height="19">
              <use href="./images/svg/ic-sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
        </ul>
        <p class="footer__tel-desc">
          Feel free to contact
          <a href="tel:+610383766284" class="footer-tel">+61 (0) 383 766 284</a>
      </div>
    </div>
  </div>
  <div class="footer-copyright current">
    <p class="footer-copyright__element">&#169; 2022 - IceCream.All Rights Reserved.</p>
  </div>
</footer>

