<div class="backdrop backdrop--hidden" data-franchise-modal>
  <div class="modal">
    <button class="modal__close-btn" type="button" data-franchise-modal-close>
      <svg width="11" height="11">
        <use href="./images/svg/ic-sprite.svg#close"></use>
      </svg>
    </button>

    <h3 class="modal__title">
      Thank you for your interest in owning an Ice Cream shop
    </h3>

    <p class="modal__text modal__text--padding-bottom">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>

    <form class="modal__form">
      <label class="modal__label" for="name"></label>
      <input
        class="modal__input"
        type="text"
        name="name"
        id="name"
        placeholder="Name"
      />
      <label class="modal__label" for="phone"></label>
      <input
        class="modal__input"
        type="tel"
        name="phone"
        id="phone"
        placeholder="Phone"
      />
      <label class="modal__label" for="comment"></label>
      <textarea
        class="modal__input modal__input--comment"
        name="comment"
        id="comment"
        placeholder="Comment"
      ></textarea>
      <button class="solid-button__modal" type="submit">Submit</button>
    </form>
  </div>
</div>
