<header class="page-header">
  <div class="container page-header__container ">
    <a href="#" class="logo">
     <img class="logo__img" src="./images/png/logo.png" alt="Logotype">
    </a>
    <nav class="nav-menu">
      <ul class="menu">
        <li class="menu__item"><a href="#Home" class="menu__link">Home</a></li>
        <li class="menu__item">
          <a href="#About_us" class="menu__link">About us</a>
        </li>
        <li class="menu__item">
          <a href="#How_it’s_made?" class="menu__link">How it’s made?</a>
        </li>
        <li class="menu__item">
          <a href="#Our_products" class="menu__link">Our products</a>
        </li>
        <li class="menu__item">
          <a href="#Contact" class="menu__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      type="button"
      class="mobile-menu-btn is-open"
      aria-label=" switch mobile-menu "
      data-menu-button>
      <svg class="mobile-menu-btn__icon" width="32" height="32">
        <use
          class="mobile-menu-btn__icon mobile-menu-btn__icon--open"
          href="./images/svg/ic-sprite.svg#burger"
        ></use>
        <use
          class="mobile-menu-btn__icon mobile-menu-btn__icon--close"
          href="./images/svg/ic-sprite.svg#close"
        ></use>
      </svg>
    </button>
    <button type="button" class="header-btn">
      Buy now
      <svg class="header-btn__icon" width="4" height="8">
        <use href="./images/svg/ic-sprite.svg#vector"></use>
      </svg>
    </button>
  </div>
</header>
