<section class="section hero">
  <div class="container">
    <h1 class="hero__title">ice cream made with passion</h1>

    <button class="outline-button__products">Products</button>

    <button class="outline-button__franchise">
      Franchise
      <svg class="solid-button__icon" width="6" height="12">
        <use href="./images/svg/ic-sprite.svg#icon-Vector"></use>
      </svg>
    </button>

    <button class="solid-button__buy-now">
      Buy now
      <svg class="solid-button__icon" width="6" height="12">
        <use href="./images/svg/ic-sprite.svg#vector"></use>
      </svg>
    </button>

    <button class="solid-button__read-more">
      Read-more
      <svg class="solid-button__icon" width="6" height="12">
        <use href="./images/svg/ic-sprite.svg#vector"></use>
      </svg>
    </button>

    <button class="solid-button__our-location">
      Our-location
      <svg class="solid-button__icon" width="6" height="12">
        <use href="./images/svg/ic-sprite.svg#vector"></use>
      </svg>
    </button>

    <button class="text-button">How it’s made?</button>
  </div>
</section>
