<div class="backdrop backdrop--hidden" data-location-modal>
  <div class="location-modal">
    <button class="read-modal__close-btn" type="button" data-location-modal-close>
      <svg width="11" height="11">
        <use href="./images/svg/ic-sprite.svg#close"></use>
      </svg>
    </button>

    <h3 class="location-modal__title">Our Locations</h3>

    <iframe
      class="location-modal__map-desktop"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.057873270104!2d-73.95692268434127!3d40.67269377933618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1662329383770!5m2!1sru!2sua"
      width="448"
      height="260"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <iframe
      class="location-modal__map-mobile"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3026.057873270104!2d-73.95692268434127!3d40.67269377933618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b9e1735b38f%3A0xb5fe454b88e9c2c0!2zNzI2IFN0ZXJsaW5nIFBsLCBCcm9va2x5biwgTlkgMTEyMTYsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1662330838396!5m2!1sru!2sua"
      width="224"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>

    <a
      class="solid-button__modal"
      rel="noopener noreferrer nofollow"
      target="_blank"
      href="https://www.google.com.ua/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+%D0%A1%D0%A8%D0%90/@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734?hl=ru"
      >Open map</a
    >
  </div>
</div>
