<section class="section products" id="products">
  <div class="container">
    <p class="products__info">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products-list">
      <li class="products-list__item">
        <h3 class="products-list__title products-list__image1">ice cream</h3>
        <p class="products-list__spec">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button
          class="products-list__information"
          type="button"
          data-overlay-open-3
        >
          <svg class="products-list__icon">
            <use href="./images/svg/ic-sprite.svg#arrow"></use>
          </svg>
        </button>
        <div
          class="products-overlay products-overlay_cream"
          data-menu-overlay-3
        >
          <button
            class="products-overlay__close-button"
            type="button"
            width="20px"
            height="20px"
            data-overlay-close-3
          >
            <svg
              class="products-overlay__close-icon"
              width="20px"
              height="20px"
            >
              <use href="./images/svg/ic-sprite.svg#close"></use>
            </svg>
          </button>
          <p class="products-overlay__list">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam
            eaque ullam doloremque qui in totam rerum earum consequuntur optio?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
            distinctio quisquam sint odit consectetur ab magni, ad dolor
            pariatur nisi doloremque sed nemo ducimus reprehenderit perferendis
            expedita laborum excepturi deserunt alias. Perspiciatis quos
            pariatur sint aut, doloribus nobis vel quia!
          </p>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title products-list__image2">ice coffee</h3>
        <p class="products-list__spec">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button
          class="products-list__information"
          type="button"
          data-overlay-open-2
        >
          <svg class="products-list__icon" width="40px" height="20px">
            <use href="./images/svg/ic-sprite.svg#arrow"></use>
          </svg>
        </button>
        <div
          class="products-overlay products-overlay_coffee"
          data-menu-overlay-2
        >
          <button
            class="products-overlay__close-button"
            type="button"
            width="20px"
            height="20px"
            data-overlay-close-2
          >
            <svg
              class="products-overlay__close-icon"
              width="20px"
              height="20px"
            >
              <use href="./images/svg/ic-sprite.svg#close"></use>
            </svg>
          </button>
          <p class="products-overlay__list">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam
            eaque ullam doloremque qui in totam rerum earum consequuntur optio?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
            distinctio quisquam sint odit consectetur ab magni, ad dolor
            pariatur nisi doloremque sed nemo ducimus reprehenderit perferendis
            expedita laborum excepturi deserunt alias. Perspiciatis quos
            pariatur sint aut, doloribus nobis vel quia!
          </p>
        </div>
      </li>
      <li class="products-list__item">
        <h3 class="products-list__title products-list__image3">milkshakes</h3>
        <p class="products-list__spec">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button
          class="products-list__information"
          type="button"
          data-overlay-open
        >
          <svg class="products-list__icon">
            <use href="./images/svg/ic-sprite.svg#arrow"></use>
          </svg>
        </button>
        <div
          class="products-overlay products-overlay_milkshake"
          data-menu-overlay
        >
          <button
            class="products-overlay__close-button"
            type="button"
            width="20px"
            height="20px"
            data-overlay-close
          >
            <svg
              class="products-overlay__close-icon"
              width="20px"
              height="20px"
            >
              <use href="./images/svg/ic-sprite.svg#close"></use>
            </svg>
          </button>
          <p class="products-overlay__list">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quam
            eaque ullam doloremque qui in totam rerum earum consequuntur optio?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo
            distinctio quisquam sint odit consectetur ab magni, ad dolor
            pariatur nisi doloremque sed nemo ducimus reprehenderit perferendis
            expedita laborum excepturi deserunt alias. Perspiciatis quos
            pariatur sint aut, doloribus nobis vel quia!
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
