<div class="backdrop backdrop--hidden" read-modal>
  <div class="read-modal">
    <button class="read-modal__close-btn" type="button" read-modal-close>
      <svg width="11" height="11">
        <use href="./images/svg/ic-sprite.svg#close"></use>
      </svg>
    </button>

    <h3 class="read-modal__title">How it’s made?</h3>

    <div class="read-modal__video"></div>

    <p class="read-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
