<div class="backdrop backdrop--hidden" data-read-modal>
  <div class="read-modal">
    <button class="read-modal__close-btn" type="button" data-read-modal-close>
      <svg width="11" height="11">
        <use href="./images/svg/ic-sprite.svg#close"></use>
      </svg>
    </button>

    <h3 class="read-modal__title">How it’s made?</h3>

    <iframe
      class="read-modal__video-desktop"
      width="448"
      height="200"
      src="https://www.youtube.com/embed/VdEa6wKl7Dc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <iframe
      class="read-modal__video-mobile"
      width="224"
      height="199"
      src="https://www.youtube.com/embed/VdEa6wKl7Dc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>

    <p class="read-modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
