.two-section {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 45%,
      var(--main-bg-color) 45%
    ),
    url(../images/mobile/ice-cream-background-mobile/ice-cream-background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/mobile/ice-cream-background-mobile/ice-cream-background-mobile@2x.jpg);
  }

  @media screen and(min-width:768px) {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/tablet/ice-cream-background-tablet/ice-cream-background-tablet@2x.jpg);
    }

    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 68.5%,
        var(--main-bg-color) 68.5%
      ),
      url(../images/tablet/ice-cream-background-tablet/ice-cream-background-tablet.jpg);
  }

  @media screen and(min-width:1200px) {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 66%,
        var(--main-bg-color) 66%
      ),
      url(../images/desktop/ice-cream-background/ice-cream-background.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/desktop/ice-cream-background/ice-cream-background@2x.jpg);
    }
  }
}
