.section--dark-theme {
  background-color: var(--main-bg-color);
}
.containe-contact {
  position: relative;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: -345px;
  margin-bottom: 32px;

  @media screen and(min-width:768px) {
    flex-direction: row;
    gap: 16px;
    margin-top: -304px;
  }
  @media screen and(min-width:1200px) {
    gap: 32px;
    margin-top: -96px;
  }
}
.contact__item {
  width: 100%;
  padding: 40px 32px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and(min-width:768px) {
    padding: 40px 24px;
  }
  @media screen and(min-width:1200px) {
    padding: 40px;
  }
}
.contact__name {
  @include font-style(500, 12px, 22px);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  display: inline-block;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 20px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-info__item {
  &:first {
    flex-grow: 1;
  }
  &:not(:last-child) {
    padding-bottom: 24px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.contact__town {
  @include font-style(500, 12px, 22px);
  letter-spacing: 0.04em;
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.contact__address {
  @include font-style(500, 12px, 22px);
  letter-spacing: 0.04em;
  color: #d6936d;
  margin-bottom: 24px;
}

.contact-info__oppening + .contact-info__oppening {
  margin-top: 8px;
}
.contact__work-day {
  @include font-style(500, 12px, 22px);
  color: var(--main-text-color);
  margin-bottom: 8px;
}
.contact__work-time {
  @include font-style(500, 12px, 22px);
  color: #ababab;
}

.contact__phone,
.contact__mail {
  @include font-style(500, 12px, 18px);
  color: var(--main-text-color);
  display: block;
}

.contact__phone {
  margin-bottom: 8px;
}

.contact__mail {
  display: block;
}

.wrapper-button {
  @include centered-flex();
  flex-direction: column;
  gap: 16px;

  @media screen and(min-width:768px) {
    flex-direction: row;
  }
}
.contact-btn {
  display: block;
  width: 161px;
  height: 49px;
  margin-left: auto;
  margin-right: auto;
}
