.footer-section {
  padding-bottom: 40px;
}
.footer-container {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__thumb-left {
  margin-bottom: 42px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 352px;
  }
  @media screen and (min-width: 1200px) {
    width: auto;
  }
}
.footer__thumb-right {
  @media screen and (min-width: 768px) {
    align-self: flex-end;
  }
  @media screen and (min-width: 1200px) {
    align-self: auto;
  }
}
.footer__text {
  @include font-style(700, 18px, 22px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    @include font-style(700, 26px, 32px);
    margin-bottom: 9px;
  }
  @media screen and (min-width: 1200px) {
    @include font-style(400, 30px, 37px);
    margin-bottom: 14px;
  }
}

.footer__title-text {
  @include font-style(700, 34px, 41px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  @media screen and (min-width: 768px) {
    @include font-style(700, 48px, 59px);
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    @include font-style(700, 58px, 71px);
  }
}

.footer__list-social {
  display: flex;
  justify-content: right;
  gap: 28px;
  margin-bottom: 38px;
}

.footer__social {
  width: 32px;
  height: 32px;
  &:focus {
    width: 35px;
    height: 35px;
  }
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
  &:focus {
    width: 35px;
    height: 35px;
  }
}

.footer__social-link {
  gap: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-bottom: 38px;
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--main-bg-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: #ffffff;
  }
  @media screen and (min-width: 768px) {
    .footer__list-social {
      gap: 30px;
    }
  }
}

.footer__tel-desc {
  @include font-style(700, 12px, 22px);
  letter-spacing: 0.02em;
  text-align: right;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    @include font-style(700, 14px, 26px);
  }
  @media screen and (min-width: 1200px) {
    @include font-style(700, 16px, 30px);
  }
}

.footer__tel {
  color: #ffffff;
}

.footer {
  padding-top: 16px;
  border-top: 1px solid #e1e1e1;
}
.footer__copyright {
  @include font-style(700, 14px, 21px);
  text-align: center;
  color: #7a7a7a;
  @media screen and (min-width: 768px) {
    @include font-style(700, 14px, 26px);
  }
  @media screen and (min-width: 1200px) {
    @include font-style(700, 12px, 22px);
    &::before {
      content: '';
      display: block;
      margin-bottom: 16px;
    }
  }
}
