

@media screen and (min-width: 768px) {
  .footer {
      padding-top: 40px;
 
    }

}


@media screen and (min-width: 768px){
  .footer-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 32px;
      margin-bottom: 0;
  }
}




@media screen and (min-width: 768px){
  .footer__thumb-left {
      width: 352px;
      padding-bottom: 0;
    
  }
}


@media screen and (min-width: 768px){
  .footer__text {
      @include font-style (700, 26px, 32px);
      letter-spacing: 0.04em;
      margin-bottom: 9px;
  }
}



@media screen and (min-width: 768px){
  .footer__title-text {
      @include font-style (700, 48px, 59px);
      letter-spacing: 0.06em;
  }
}


@media screen and (min-width: 768px){
  .footer__list-social {
      gap: 30px;
      padding-top: 68px;
      margin-bottom: 32px;
  }
}



@media screen and (min-width: 768px){
  .footer__social {
      width: 34px;
      height: 34px;
  }
}




@media screen and (min-width: 768px){
  .footer__tel-desc {
      font-size: 16px;
  
  }
}


@media screen and (min-width: 768px){
  .footer-copyright { 
      border-top: 1px solid #E1E1E1;
 
    }
}


@media screen and (min-width: 768px){
 .footer-copyright__element {
     @include font-style (700, 14px, 26px);
     max-width: 300px;
     text-align: center;
     margin: 0 auto;
     padding-top: 14px;
     padding-bottom: 14px;
     letter-spacing: 0.02em;
     color:  #7A7A7A
    
 } 

}
