.footer {
    background-color: var(--main-bg-color);
}

.footer-wrapper {
    margin-bottom: 40px;
  }
  
.footer__thumb-left {
    width: 234px;
    padding-bottom: 42px;
}

.footer__text {
    @include font-style (700, 18px, 22px);
    margin-bottom: 16px;
    text-transform: uppercase;
}

