.gallery {
  padding-top: 0;
  padding-bottom: 0;
}

.gallery__container {
  display: block;
  position: relative;
@include centered-flex($type: center);
}

.gallery__thumb {
position: absolute;
transform: translate(0px, -25px);
  overflow: hidden;
  border-radius: 7px;

  @media screen and(min-width:768px) {
    transform: translate(0px, 0px);
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    border-radius: 24px;
    transform: translate(0px, 93px);
  }
}

.container {
    border: 3px solid red ;
}

.section {
    border: 2px solid black;
}