.gallery {
  background: linear-gradient(
    180deg,
    rgba(132, 161, 120, 1) 20%,
    rgba(255, 255, 255, 1) 20%
  );
  padding-top: 0;
  padding-bottom: 0;

  @media screen and(min-width:768px) {
    background: linear-gradient(
      180deg,
      rgba(132, 161, 120, 1) 50%,
      rgba(255, 255, 255, 1) 20%
    );
  }
}

.gallery__container {
  @include centered-flex($type: center);

  @media screen and (min-width: 1200px) {
    display: block;
    position: relative;
  }
}

.gallery__thumb {
  overflow: hidden;
  border-radius: 7px;

  @media screen and(min-width:768px) {
    border-radius: 18px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    transform: translate(94px, -94px);
    border-radius: 24px;
  }
}
