.page-header {
  position: absolute;
  padding-top: 16px;
  padding-bottom: 16px;
}


.logo__icon {
  width: 48px;
  height: 44px;
}

.mobile-menu-btn {
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.mobile-menu-btn__icon--close {
    display: none;
}

.mobile-menu-btn.is-open .mobile-menu-btn__icon--close  {
display: block;
}

.mobile-menu-btn.is-open .mobile-menu-btn__icon--open {
    display: none;
}